.Hompage-slider-wrapper {
  width: 100vw;
  height: 88vh;
  overflow: hidden;
  background: #000000;
}

.slider-Image-wrapper > img {
  width: 100vw;
  height: 88vh;
  object-fit: fill;
  overflow: hidden;
  position: relative;
}
.Hompage-slider-container {
  position: relative;
  left: 0;
  top: 0;
}
.prev {
  cursor: pointer;
}
.next {
  cursor: pointer;
}
.Homepage_arrows {
  width: 100vw;
  position: absolute;
  top: 48%;
  z-index: 10;
}

@media only screen and (max-width: 768px) {
  .slider-Image-wrapper > img {
    width: 100vw;
    height: 80vh;
    object-fit: cover;

    overflow: hidden;
  }
}
